h1,
h2,
h3,
.title {
	font-family: 'VT323';
	color: #D5C891;
}

p,
li,
a {
	font-family: 'Droid Sans', sans-serif;
}

.muted {
	color: #6F6378;
}

a {
	color: #8AAE8C;
}

/* unvisited link */
a:link {
    color: #9893B5;
}

/* visited link */
a:visited {
    color: #9893B5;
}

/* mouse over link */
a:hover {
    color: #9893B5;
}

/* selected link */
a:active {
    color: #9893B5;
}

a.title:link,
a.title:visited,
a.title:active,
a.title:hover {
	color: #D5C891;
}

li,
.text {
	color: #8AAE8C;
}

body {
	background: #2D4543;
}

.navbar-default {
	background-color: #2C2B33;
	border-color: #2C2B33;
}

a.navbar-brand.title {
	color: #93B59E;
	font-size: 2em;
}
a.navbar-brand.title:focus,
a.navbar-brand.title:hover {
	color: #fff;
}

.sliderItem {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: auto;
	max-height: 600px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

img.sliderItem {
	height: 100% !important;
	width: auto !important;
}

iframe.sliderItem {
	height: 100% !important;
	width: 56.25% !important;
}

.navbar-default .navbar-nav>li>a {
	color: #93B59E;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.nextButton:active,
.nextButton:focus,
.nextButton:hover,
.nextButton:visited,
.nextButton {
	height: 100%;
	width: 50%;
	opacity: 0.5;
	color: #D5C891;
	background-color: #2C2B33;
	border-color: #2C2B33;
}

.nextButton:hover {
	opacity: 0.8;
}

.nextButton:active {
	opacity: 1.0;
}

.carouselBacking {
	height: 600px;
}

.well {
	background-color: #2C2B33;
	border-color: #2C2B33;
	padding-top: 10px;
	padding-bottom: 0px;
}

.card {
	margin-top: 20px;
	background-color: rgba( 0, 0, 0, 0.5 );

	-moz-box-shadow: 1em 1em 5em #333333;  
 	-webkit-box-shadow: 1em 1em 5em #333333;   
 	box-shadow: 1em 1em 5em #333333;

 	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.card img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.card iframe {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	left: 0px;
	background: none;
}

.bx-wrapper .bx-loading {
	background: none;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px ) {
	.navbar-default,
	.navbar-nav li a {
		width: 100%;
		text-align: center;
	}

	.nextButton:active,
	.nextButton:focus,
	.nextButton:hover,
	.nextButton:visited,
	.nextButton {
		height: 100%;
		width: 50%;
		opacity: 0.5;
		color: #D5C891;
		background-color: #2C2B33;
		border-color: #2C2B33;
	}
	.carouselBacking {
		height: 200px;
	}
	.sliderItem {
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 992px ) {
	a.navbar-brand.title {
		font-size: 1.5em;
	}
}