<!-- START HEADER -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }} - {{ site.name }}</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grids.min.js"></script>

    <!-- bxSlider Javascript file -->
    <script src="/bxslider/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <script src="/bxslider/plugins/jquery.fitvids.js"></script>

    <!-- parallax -->
    <script src="/js/parallax.min.js"></script>

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- custom -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- navbar header -->

    <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand title" title="Homepage" href="/">{{ site.name }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        
          <li><a href="https://twitter.com/MeTheFlea/" title="Twitter"><span class="fa fa-twitter fa-lg"></span></a></li>
          <li><a href="https://github.com/MeTheFlea/" title="GitHub"><span class="fa fa-github fa-lg"></span></a></li>
          <li><a href="https://nl.linkedin.com/in/martinstuurwold/" title="LinkedIn"><span class="fa fa-linkedin fa-lg"></span></a></li>  

            <li><a href="#"><span class="fa fa-file-text" style="margin-right: 10px;"></span>Resume</a></li>
            <li><a href="/about/"><span class="fa fa-user fa-lg" style="margin-right: 10px;"></span>About Me</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
<!-- END HEADER -->