{% include header.html %}

{% assign projects = site.projects | sort:"index" %}

<script>
$(document).ready(function(){
  var startSlide = GetUrlNum();
  slider = $('.bxslider').bxSlider( {
      responsive: true,
      startSlide: startSlide,
      minSlides: 1,
      maxSlides: 1,
      video: true,
      auto: true,
      pause: 5000,
      controls: false,
      adaptiveHeight: true,
      easing: 'ease-in-out',
      onSlideAfter: function($slideElement, oldIndex, newIndex) {
        OnIndex( newIndex );
      },
      onSliderLoad: function( currentIndex ) {
          $("#prev").click( function() { PreviousSlide(); } );
          $('#next').click( function() { NextSlide(); } );

          OnIndex( startSlide );
      }
    } );

   $( "#panel" ).mouseenter(function() {
      slider.stopAuto();
  });
    $( "#panel" ).mouseleave(function() {
        slider.startAuto();
  });

  
  $('.fill').responsiveEqualHeightGrid();

} );

function PreviousSlide() {
  slider.goToPrevSlide();
}

function NextSlide() {
  slider.goToNextSlide();
}

function GetUrlNum() {
  var hash = window.location.hash.substring(1);
  
  {% for project in projects %}
    var name{{ forloop.index }} = GetShortUrl( "{{ project.url }}" );
  {% endfor %}

  switch( hash ) {
  {% for project in projects %}
    case name{{ forloop.index }}:
      return {{ forloop.index }} - 1;
    break;
  {% endfor %}
    default:
      return 0;
    break;
  }
}

function OnIndex( a_index ) {
  var title;
  var desc;
  var link;
  var tags;

  switch( a_index ) {
    {% for project in projects %}
      case {% increment index %}:
        title = "{{ project.title }}";
        desc = "{{ project.sections["Description"][0] }}";
        link = "{{ project.url }}";
        tags = "|"
        {% for tech in project.tech %}
        tags = tags + " {{ tech }} |";
        {% endfor %}

      break;
      
    {% endfor %}
  }

  var urlWithoutAnchor = document.URL.replace(/#.*$/, "");
  var nameWithoutSpace = GetShortUrl( link );
  var newUrl = urlWithoutAnchor + '#' + nameWithoutSpace;
  window.location = newUrl;


  $( '#gameName' ).text( title );
  $( '#gameName' ).attr( "href", link );
  $( '#small' ).text( " " + tags );
  $( '#desc' ).text( desc );
  $( '#more' ).attr( "href", link );
};
</script>

 <div class="container">
	 <h2 class="title">Portfolio</h2>
</div>

<div id="panel">
  <div class="bxslider">
  {% for page in projects %}
    <div class="container" style="width: 100%; background: url( &quot;{{ page.imgDir }}bg.png&quot; ) center center no-repeat; background-size: cover;">

        <div class="container card">
        {% if page.youtube %}
          <iframe src="{{ page.youtube }}" width="500" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        {% else %}
          <img class="img-responsive" style="max-height: 600px; display: block; margin-left: auto; margin-right: auto;" src="{{ page.imgDir }}0.png"/>
        {% endif %}
        </div>

        <div class="container card">
          {% assign tag = "" %}
          {% for tech in page.tech %}
            {% capture tag %}{{ tag }} | {{ tech }}{% endcapture %}
          {% endfor %}
          <h1 class="title"><a class="title" href="{{ page.url }}">{{ page.title }}</a><small class="title" style="opacity:0.5;">{{ tag }}</small></h1>
          <p id="desc" class="text">{{ page.sections["Description"][0] }}</p>
          <p class="text"><a href="{{ page.url }}">Read more...</a></p>
        </div>

        <br>
    </div>

  {% endfor %}
</div>
  <a><span id="prev" class="fa fa-chevron-left fa-5x" style="position: absolute; top: 50%; left: 20px;"></span></a>
  <a><span id="next" class="fa fa-chevron-right fa-5x" style="position: absolute; top: 50%; right: 20px;"></span></a>
</div>

<!--
<div class="container" style="margin-top: -30px;">
	<h1 class="title"><a class="title" id="gameName" href="/"></a><small id="small" class="title" style="opacity:0.5;"></small></h1>
	<p id="desc" class="text"></p>
  <p class="text"><a id="more" href="/">Read more...</a></p>
</div>
-->

{{ content }}

{% include footer.html %}