{% include header.html %}

<script>
var slider;
$(document).ready(function(){
  slider = $('.bxslider').bxSlider( {
  		responsive: true,
  		slideWidth: 1000,
  		startSlide: 0,
  		minSlides: 1,
  		maxSlides: 1,
  		video: true,
  		auto: true,
  		controls: false,
  		easing: 'ease-in-out',
  		pause: 4000,
  		onSliderLoad: function( currentIndex ) {
          $("#prev").click( function() { PreviousSlide(); } );
          $('#next').click( function() { NextSlide(); } );
      }
  	} );

  	$( "#panel" ).mouseenter(function() {
		slider.stopAuto();
	});
	$( "#panel" ).mouseleave(function() {
		if( slider.getCurrentSlide() != 0 ) {
  			slider.startAuto();
  		}
	});

	$( "#navTitle" ).attr( "href", "/#" + GetShortUrl( "{{ page.url }}" ) );
});


</script>

<div class="container">
	<h1 class="title">{{ page.title }} 
		<small class="title" style="opacity:0.5;">
		|
			{% for tech in page.tech %}
				{{ tech }} |
			{% endfor %}
		</small>
	</h1>
</div>

<div id="panel" class="container-fluid parallax-window" data-parallax="scroll" data-image-src="{{ page.imgDir }}bg.png" data-speed="0.4">
<a><span id="prev" class="fa fa-chevron-left fa-5x" style="position: relative; line-height: 0; float: left; margin-left: 10%; z-index: 999;"></span></a>
  <a><span id="next" class="fa fa-chevron-right fa-5x" style="position: relative; line-height: 0; float: right; margin-right: 10%; z-index: 999;"></span></a>
<div class="bxslider" >
	{% if page.youtube %}
		<div class="container">
			<iframe src="{{ page.youtube }}" style="padding-top: 20px;" width="500" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	{% endif %}

	{% assign images = page.imgCount | minus:1 %}
	{% for i in (0..images) %}
		<div class="container">
			<img class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; padding-top: 20px;" src="{{ page.imgDir }}{{ i }}.png"/>
		</div>
	 {% endfor %}
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-8">
			{% for section in page.sections %}
			<h2 class="title">{{ section[0] }}</h2>
			{% for text in section[1] %}
			<p class="text">{{ text }}</p>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="col-sm-4">
			<h2>Features</h2>
			<p class="text">
				<ul>
					{% for feature in page.features %}
					<li>{{ feature }}</li>
					{% endfor %}
				</ul>
			</p>

			<h2>Downloads</h2>
			<div class="well">
			{% if page.bin contains '.zip' %}
				<a href="{{ page.bin }}"><p><span class="fa fa-download"></span> Binaries (Win32).</p></a>
			{% elsif page.bin %}
				<p class="muted"><span class="fa fa-exclamation-circle"></span> {{ page.bin }}</p>
			{% else %}
				<p class="muted"><span class="fa fa-exclamation-circle"></span> Binaries unavailable.</p>
			{% endif %}
			{% if page.source contains '.zip' %}
				<a href="{{ page.source }}"><p><span class="fa fa-folder-open"></span> Source files.</p></a>
			{% elsif page.source %}
				<p class="muted"><span class="fa fa-folder-open-o"></span> {{ page.source }}</p>
			{% else %}
				<p class="muted"><span class="fa fa-folder-open-o"></span> Source files unavailable.</p>
			{% endif %}
			</div>
		</div>
	</div>
</div>

{{ content }}

{% include footer.html %}